@font-face {
  font-family: "simon-font";
  src: url("../fonts/pricedown-bl.ttf");
}

* {
  text-align: center;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.gameTitle h1 {
  font-family: "simon-font", sans-serif;
  font-size: 15em;
  margin: -0.4em auto 0.1em auto;
}
.gamePageContent {
  width: 900px;
  height:
}

.gameBoard {
  width: 420px;
  height: 420px;
  display: inline-block;
  float: left;
  margin-left: 1.5em
}

.rightColumn {
  width: 420px;
  height: 420px;
  display: inine-block;
  float: right;
  margin-right: 1.5em;
}

.gameInfoButtons {
  border: 2px solid black;
  border-radius: 10px;
}

.gameStatsBox {
  border: 2px solid black;
  border-radius: 10px;
}

.startButton {
  display: block;
}

#resetButton {
  height: 3em;
  width: 10em;
  margin-bottom: 3em;
}

#startButton {
  height: 7em;
  width: 38em;
  background-color: orange;
  border-radius: 10px;
  margin-top: 5em;
}

#block1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: green;
  border-top-left-radius: 100%;
  border-bottom-right-radius: -15px;

}

#block2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: red;
  border-top-right-radius: 100%;


}

#block3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #E5E500;
  border-bottom-left-radius: 100%;
}

#block4 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: blue;
  border-bottom-right-radius: 100%;
}




.gameInfoButtons {

}

#aboutButton {
  display: inline-block;
}

#rulesButton {
  display: inline-block;
}

.startButton {
  display: block;
  clear: left;
}

.footerText {
  display: block;
  clear: left;
}
